.social-links ul {
    padding: 0;
    list-style: none;
  }
  
  .social-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
  }
  
  .social-links a:hover {
    color: #ddd;
  }
  