.navtabs {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navicons {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: 'Arial', sans-serif; 
}

.navicons:hover {
  color: #555;
}
.nav-dropdown {
  margin-right: 20px; 
}
.logo-container {
  margin-left: '30%';
  margin-right: auto;
}
.navbar-text {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #555;
  margin-top: 50px;
  margin-left: auto;
  font-weight: bold;
}





