.logo-container {
    justify-content: end;
  }
  
  .searchbar {
    padding-right: 150px;
  }
  
  .search-input {
    display: none;
    border: none;
  }
  
  .hover-trigger:hover + .search-input {
    display: inline-block;
  }
  
  .navtabs {
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navicons {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }
  
  .overlay {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    max-height: 80vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    overflow-y: auto;
  }
  